@font-face {
    font-family: "Bostero";
    src: local(Bostero), url(Fontes/Bostero.ttf);
}
@font-face {
    font-family: "Bosskid";
    src: local(Bosskid), url(Fontes/Bosskids.otf);
}
body{
    background-image: url("Gifs/Black.gif");
    margin-top: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
canvas{
    background-image: url("img/textura.jpg");
    background-position: center;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-style: outset;
    border-width: 5px;
    border-color: black;
    box-shadow:
            0 0 2px #fff,
            0 0 2px #fff,
            0 0 2px #fff,
            0 0 2px black,
            0 0 10px black,
            0 0 10px black,
            0 0 10px black,
            0 0 18px black;
    animation: boxpulsate 1.5s infinite alternate;
}
audio{
    z-index: 10;
}
.pulsate {
    animation: boxpulsate 1.5s infinite alternate;
}
@keyframes boxpulsate {

    100% {

        box-shadow:
                0 0 3px #fff,
                0 0 4px #fff,
                0 0 6px #fff,
                0 0 6px black,
                0 0 20px black,
                0 0 20px black,
                0 0 20px black,
                0 0 25px black;

    }

    0% {

        box-shadow:
                0 0 2px #fff,
                0 0 2px #fff,
                0 0 2px #fff,
                0 0 2px #fff,
                0 0 10px #fff,
                0 0 10px #fff,
                0 0 10px #fff,
                0 0 18px #fff;

    }
}
@keyframes textpulsate {

    100% {

        text-shadow:
                0 0 3px #fff,
                0 0 4px #fff,
                0 0 6px transparent,
                0 0 6px black,
                0 0 20px black,
                0 0 20px black,
                0 0 20px transparent,
                0 0 25px transparent;

    }

    0% {

        text-shadow:
                0 0 2px #fff,
                0 0 2px #fff,
                0 0 2px #fff,
                0 0 2px #fff,
                0 0 10px #fff,
                0 0 10px transparent,
                0 0 10px transparent,
                0 0 18px transparent;

    }
}
@keyframes blackpulsate {

    100% {

        text-shadow:
                0 0 3px black,
                0 0 4px white,
                0 0 6px transparent,
                0 0 6px white,
                0 0 20px black,
                0 0 20px black,
                0 0 20px transparent,
                0 0 25px transparent;

    }

    0% {

        text-shadow:
                0 0 2px black,
                0 0 2px black,
                0 0 2px black,
                0 0 2px black,
                0 0 10px black,
                0 0 10px transparent,
                0 0 10px transparent,
                0 0 18px transparent;

    }
}
#score{
    position: absolute;
    margin-left: 75%;
    top: -10%;
    transform: translateY(-30%);
    font-family: Bostero;
    color: black;
    font-size: 70pt;
    text-shadow:
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 10px #fff;
    animation: textpulsate 1.5s infinite alternate;
}
#marca_pontos{
    position: absolute;
    margin-left: 77%;
    padding-right: 1%;
    padding-left: 1%;
    top: 5%;
    font-family: "Times New Roman";
    font-size: 90px;
    transform: translateY(-15%);
    background-color: transparent;
    color: black;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-shadow:
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 10px #fff;
    animation: textpulsate 1.5s infinite alternate;
}
.dropbtn {
    background-color: black;
    border-style: solid;
    border-spacing: 1px;
    border-color: #f1f1f1;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: "Times New Roman";
    cursor: pointer;
}

 /* posição do menu completo */
.dropdown {
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 2px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Times New Roman";
    font-style: italic;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: dimgrey;
}
/* Dificuldades */
.botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 6%;
    text-align: center;
    width: 20%;

    border-style: outset;
    border-color: black;
    border-spacing: 1px;
    box-shadow:
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 10px #fff;
    animation: pulsate 1.5s infinite alternate;
}
#easy {
    font-size: 35pt;
    font-family: Bosskid;
    background-color: transparent;
    color: black;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-shadow:
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 10px #fff;
    animation: pulsate 1.5s infinite alternate;
}
#normal{
    font-size: 35pt;
    font-family: Bosskid;
    background-color: transparent;
    color: black;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-shadow:
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 10px #fff;
    animation: pulsate 1.5s infinite alternate;
}
#hard{
    font-size: 35pt;
    font-family: Bosskid;
    background-color: transparent;
    color: black;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-shadow:
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 1px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 4px #fff,
            0 0 10px #fff;
    animation: pulsate 1.5s infinite alternate;
}
/* Start / Restart / Stop */
#start{
    position: absolute;
    bottom: 1%;
    left: 6%;

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;

    text-shadow: 5px 5px black;
    font-size: 35pt;
    font-family: Bosskid;
    color:white;
}
#restart{
    position: absolute;
    bottom: 0;
    left: 15%;

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    box-shadow: black;

    text-shadow: 5px 5px black;
    font-size: 35pt;
    font-family: Bosskid;
    color:white;
}
#restart img{
    width: 45px;
    height: 45px;
    -webkit-filter: drop-shadow(2.5px 2.5px 2.5px white);
    filter: drop-shadow(2.5px 2.5px 2.5px white);
}
#stop{
    position: absolute;
    bottom: 1%;
    left: 21%;

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;

    text-shadow: 5px 5px black;
    font-size: 35pt;
    font-family: Bosskid;
    color:white;
}
#best_score{
    position: absolute;
    margin-left: 67%;
    bottom: -11.5%;
    transform: translateY(-30%);
    font-family: Bostero;
    color: white;
    font-size: 50pt;
    text-shadow:
            0 0 1px black,
            0 0 1px black,
            0 0 1px black,
            0 0 1px black,
            0 0 4px black,
            0 0 4px black,
            0 0 4px black,
            0 0 10px black;
    animation: blackpulsate 1.5s infinite alternate;
}
#best{
    position: absolute;
    margin-left: 88%;
    padding-right: 1%;
    padding-left: 1%;
    bottom: -9%;
    font-family: "Times New Roman";
    font-size: 80px;
    transform: translateY(-15%);
    background-color: transparent;
    color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-shadow:
            0 0 1px black,
            0 0 1px black,
            0 0 1px black,
            0 0 1px black,
            0 0 4px black,
            0 0 4px black,
            0 0 4px black,
            0 0 10px black;
    animation: blackpulsate 1.5s infinite alternate;
}